pyrotgfork
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
cinemagoer==2023.5.1
psutil==5.9.4
aiofiles
aiohttp==3.7.4
datetime
pytz
aiohttp
python-math
python-dotenv
