pyrofork==2.3.43 
tgcrypto 
pymongo==4.8.0 
motor==3.5.1 
marshmallow==3.18.0 
umongo==3.1.0 
requests
bs4
cinemagoer==2023.5.1
psutil==5.9.4
aiofiles
aiohttp==3.7.4
datetime
pytz
aiohttp
python-math
python-dotenv
python-Levenshtein
